/* * { margin:0; padding:0; }
p { margin:5px 0 10px 0; } */





body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem; /* 16px = 100% = 1em or 1rem <-> 40px to rem = 40 / 16 = 2.5rem*/
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2; /* 1em = 12px, 2/12 = */
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}
.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  /*display: inline-block;*/
  width: 50%;
  margin: 150px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.image-computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image-chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.paragraph-skill-computer {
  /*clear: left;*/
}

.paragraph-skill-chilli {
  /*clear: right;*/
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

.btn {
     
     text-shadow: 1px 1px 20px #000000;
     border: solid #337FED 1px;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center;
  border-radius:8px;
  border: solid #337FED 1px;
  display:inline-block;
  cursor:pointer;
  cursor:pointer;
	color:#ffffff;
  background-color:#34BCBC;
  font-size: 30px;
     font-weight: 100;
     padding: 20px;
  border: solid #337FED 1px;
  box-shadow: 1px 1px 20px 0px #000000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
     color: #FFFFFF;
     font-family: 'Merriweather', serif;
     font-size: 40px;
     font-weight: 100;
     padding: 40px;
     background-color: #34BCBC;
  width: 15%;

}
.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  border-radius: 8px;
  text-decoration: none;
  border: solid #337FED 1px;
  background: #1E62D0;
  border-radius: 8px;
  text-decoration: none;
  background-color:#34BCBC;
}
.btn:active {
	position:relative;
	top:1px;
}


.btn-old {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   background-color: #34BCBC;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-old:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;

}
